vendor/
node_modules/
.docker/
.idea/
.vscode/
.fleet/
.git/
build/
cache/
database/
tests/
.phpunit.cache/
reports/
k8s/
.env
.env.backup
.env.production
.dockerignore
.editorconfig
.gitattributes
.phpunit.result.cache
CHANGELOG.md
README.md
LICENSE
README.pt-br.md
docker-compose.yaml
doctum.php
package.json
phpunit.xml
vite.config.js
